
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,*::before,*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Kumbh Sans';
  font-size: 16px;
  background-color: white;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}